
<body class="bg-success p-2 text-dark bg-opacity-25">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-brand bg-success p-2 text-white bg-opacity-75 ">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">HOME</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggle/bootstrap-5.2.3-dist/css/bootstrap.min.cssr-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- Dashboard; -->
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                        </li>
                        <!-- Users; -->
                        <li class="nav-item dropdown">
                            <a class="nav-link  " href="" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false" style="color: black;">
                                Users
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/nguoidung">User</a></li>
                                <li><a class="dropdown-item" href="">Thêm User</a></li>
                                <li><a class="dropdown-item" href="">Role</a></li>
                            </ul>
                        </li>
                        <!-- Products;  -->
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                style="color: black;">
                                Products
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/product">Product</a></li>
                                <li><a class="dropdown-item" href="/tladd">Category</a></li>
                                <li><a class="dropdown-item" href="/them_san_pham">Thêm SP</a></li>
                                
                            </ul>
                        </li>
                        <!-- Settings; -->
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                style="color: black;">
                                Accounts
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Account">Account</a></li>
                                <li><a class="dropdown-item" href="/dang_ky">Sign Up</a></li>
                                <li><a class="dropdown-item" href="/setting">Sign In</a></li>

                            </ul>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
