<link rel="shortcut icon" href="images/Info.png" type="image/x-icon">
<div style="padding-top: 20%;">
    <div style="padding-left: 36%; margin-top:10px; margin-bottom: 10px;">
     
      </div>
      <a class="button" href="/product">Back</a>
</div> 
<style>
.button{
background-color: red;
color: white;
border: none;
border-radius: 4px;
box-shadow: 0 5px 0 tomato;
transition: .5s;
}
.button:active{
    box-shadow: none;
    transform: translate(5px) ;
}

</style>

<%- include('../inc/end') %>